*{
		margin: 0;
		padding: 0;
		text-align: center;
		box-sizing:border-box;  
	}
	html{
		font-size: 10px;
	}
	body,html{
		height: 100%;
		width: 100%;
		background-color: rgb(165, 222, 228);
	}
	body{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		    -ms-flex-direction:column;
		        flex-direction:column;
	}
	.h1{
		text-align: center;
		line-height: 2;
		font-size: 3.6rem;
		color: white;
		-webkit-box-flex:1;
		-webkit-flex-grow:1;
		    -ms-flex-positive:1;
		        flex-grow:1;
	}
	.word{
		-webkit-box-flex:4;
		-webkit-flex-grow:4;
		    -ms-flex-positive:4;
		        flex-grow:4;
		font-size: 5rem;
	}
	.action{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-webkit-flex-direction:column;
		    -ms-flex-direction:column;
		        flex-direction:column;
		-webkit-box-flex:2;
		-webkit-flex-grow:2;
		    -ms-flex-positive:2;
		        flex-grow:2;
		min-height: 120px;
	}
	.action__item{
	 	-webkit-box-flex: 1;
	 	-webkit-flex: 1 1 auto;
	 	    -ms-flex: 1 1 auto;
	 	        flex: 1 1 auto;
	 	min-height: 44px;
	 	font-size: 2rem;
	 	background: rgb(245, 150, 170);
	 	border: none;
	 	border-bottom: 1px solid white;
	 	color: white;
	}